header
  h1.logo Aaron Braun

  nav
    ul
      li: a(href="#about") About
      li: a(href="#about") YouTube
      li: a(href="#about") Mentoring
      li: a(href="#about") Articles
      li: a(href="#about") Vine
      li: a(href="#about") Design
      li: a(href="#about") Notes
      li: a(href="#about") Contacts

  a(href="mailto:braunaa@gmail.com").email-link +email me
